.sk-icon {
  display: inline-block;
  vertical-align: middle;
  svg {
    display: block;
  }
}

/*
 * Custom icon styles and behaviors
 */
.sk-icon--fill-hover {

  &.sk-icon--favorite_border {
    @include hover() {
      .path-0 {
        fill: $pink;
      }
    }
  }

  &.sk-icon--person_outline {
    @include hover() {
      .path-2 {
        fill: $pink;
      }
      .ellipse-0 {
        fill: $pink;
      }
    }
  }

  &.sk-icon--search {
    @include hover() {
      .circle-1 {
        fill: $pink;
      }
    }
  }

}
