.main-footer {
  background-color: $dark-grey-1;
  @include media-breakpoint-down(sm) {
    padding: 0 calculateRem(15px);
  }
}

.main-footer__list {
  @include reset-ul();
  li {
    margin-bottom: .4rem;
    &:last-child {
      margin-bottom: 0;
    }
  }
  a {
    color: $grey-4;
    @include hover-focus-active() {
      color: $link-hover-color;
    }
  }
}

.main-footer__list--expandable {
  @include media-breakpoint-down(sm) {
    border-bottom: 1px solid $white;
    overflow: hidden;
    margin-bottom: .5rem;
    padding-bottom: 1rem;
    max-height: calculateRem(40px);
    transition: max-height #{$transition-standard};
    &--expanded {
      max-height: calculateRem(500px);
    }
    &--no-border {
      border-bottom: none;
    }
  }
}

.main-footer__list__title {
  font-size: calculateRem(16px);
  line-height: 2rem;
  font-weight: $font-weight-bold;
  margin-bottom: 0.625rem;
  @include media-breakpoint-up(xl) {
    font-size: calculateRem(20px);
  }
  @include media-breakpoint-up(md) {
    .sk-icon {
      display: none;
    }
  }
  @include media-breakpoint-down(sm) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    svg {
      width: calculateRem(13px);
      height: calculateRem(13px);
      transform: rotate(90deg);
      @at-root .main-footer__list--expandable--expanded & {
        transform: rotate(-90deg);
      }
    }
  }
}

.main-footer__inner {
  padding: calculateRem(32px) calculateRem(24px) calculateRem(24px);
  background-color: $true-black;
  @include media-breakpoint-up(sm) {
    padding: calculateRem(32px) 0;
  }
  @include media-breakpoint-up(sm) {
    padding: calculateRem(40px) 0 calculateRem(24px);
  }
  @include media-breakpoint-up(lg) {
    padding: calculateRem(40px) 0;
  }
}

.main-footer__list--social {
  li {
    display: inline-block;
    margin-right: 2rem;
    &:last-child {
      margin-right: 0;
    }
  }
  @include media-breakpoint-down(lg) {
    flex: 0 0 100%;
  }
  @include media-breakpoint-down(sm) {
    margin-bottom: calculateRem(40px);
    border-bottom: none;
  }
}

.main-footer__language-switch {
  margin-bottom: calculateRem(24px);
  color: $grey-4;
  h5 {
    font-size: calculateRem(13px);
    font-weight: $font-weight-normal;
    margin-bottom: calculateRem(16px);
  }
  @include media-breakpoint-up(md) {
    margin-top: calculateRem(21px);
    margin-bottom: 0;
    h5 {
      font-size: calculateRem(14px);
      margin-bottom: calculateRem(8px);
    }
  }
  @include media-breakpoint-up(xl) {
    margin-bottom: 2rem;
    h5 {
      font-size: 1rem;
      margin-bottom: calculateRem(16px);
    }
  }
}

.main-footer__language-switch__list {
  @include reset-ul();
  li {
    display: inline-block;
    margin-right: 1.6rem;
    &:last-child {
      margin-right: 0;
    }
  }
  a {
    vertical-align: middle;
    @include link-with-border-bottom($grey-4);
  }
  svg {
    vertical-align: middle;
    margin-right: .5rem;
  }
}

.main-footer__right-section {
  display: flex;

  margin-top: 2rem;
  padding-top: 0;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  font-size: calculateRem(12px);
  text-align: center;

  @include media-breakpoint-up(md) {
    font-size: calculateRem(14px);
    flex-direction: row;
    align-items: flex-end;
    text-align: left;
    margin-top: calculateRem(24px);
  }
  @include media-breakpoint-up(xl) {
    font-size: calculateRem(16px);
    margin-top: 0;
    height: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 1rem;
  }
}

.main-footer__copyright {
  a {
    @include link-with-border-bottom($grey-4);
  }
}

.main-footer__copyright__text {
  display: inline-block;
  margin-left: .5rem;
  color: $grey-4;
}

.main-footer__copyright__separator {
  display: inline-block;
  margin: 0 .5rem;
}
